@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: grey;

}

header {
    height: 130px;
    width: 100%;
}

section {
    min-height: 400px;
    width: 100%;
}

nav {
    height: 50px;
    width: 100%;

}

footer {
    height: 130px;
    width: 100%;
    

}

.frmlogin{

    border-radius: 5px;
    background-color:#302a73;;
    width: 50%;
   
}
